.mixer-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f9fc;
  justify-content: space-evenly;
}

.mixer-cards {
  display: flex;
  gap: 24px;
  width: 80%;
}

.mixer-card {
  flex: 1;
  background: #ffffff;
  border-radius: 12px;
  padding: 40px 20px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.5s ease, box-shadow 0.5s ease;
}



.mixer-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.mixer-card p {
  color: #777;
  font-size: 14px;
}

.mixer-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.12);
  background: #ebeffd;
}
