.Navbar {
  width: 100%;
  height: 100%;
  max-height: 65px;
  background-color: #b5b5b5;
  display: flex;
  justify-content: space-between;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.link ul {
  display: flex;
  gap: 20px;
}

.link ul li {
  list-style: none;
  cursor: pointer;
  font-weight: 600;
  color: rgb(23, 37, 161);
}

.link a {
  text-decoration: none;
  color: #ffffff;
  background-color: gray;
  padding: 10px;
}

.link a:hover {
  border-bottom: 1px solid rgb(118, 81, 248);
}

/* Make sure this comes after .link a */
.link a.active-link {
  font-weight: bold;
  background-color:#333;
}

.logo img {
  height: 100%;
}
